::ng-deep {
  .ant-pagination {
    text-align: right;
  }
  .ant-pagination .ant-pagination-total-text {
    width: 100%;
    text-align: right;
  }
  #adrian-1 .ant-switch-checked {
    background-color: #076fed;
  }
  #elena-1 .ant-switch-checked {
    background-color: #3ed94a;
  }
  .ant-collapse > .ant-collapse-item > div.ant-collapse-header {
    color: inherit;
  }
}